*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.list{
 width: 90vw;
 max-width: 1170px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 2rem;
  align-items: center;
 text-align: center;
  background-color: beige;
  word-wrap: break-word;
}

@media only screen and (max-width: 740px){
  .list{
    flex-direction: column;
    
  }
}
h1{
  margin: 0.5rem;

}
h4{
  margin: 0.5rem ;
}
article
{
  
  border:solid 1px red;
background-color:#3392e6;
}

p{
  color: red;
}
img {
  width: 200px;
  height: auto;
  margin-top: 0.5rem;
  display: inline-block;
}
