*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.list{
 width: 90vw;
 max-width: 1170px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background-color: beige;
}

@media only screen and (max-width: 740px){
  .list{
    flex-direction: column;
    
  }
}
